# Runtime config — written by .github/workflows/qa-trigger.yml (PROJECT=trigger)
# Do not commit configs/trigger.env

BASE_URL=https://your-instance.hashmicro.com
DATABASE=your-database-name
USERNAME=admin
PASSWORD=your-password
HEADLESS=true
TIMEOUT=180000

CUSTOMER_SEARCH=INTERGRAL
CUSTOMER_NAME=INTERGRAL DATA PRIMA PT
PRODUCT_SEARCH=DFO-301
PRODUCT_NAME=[DFO-301] Product Name
PRODUCT_QTY=1
WAREHOUSE_SEARCH=Jakarta
WAREHOUSE_NAME=Jakarta Warehouse
QUOTATION_PATH="/web#action=459&model=sale.order&view_type=list&menu_id=320"
BLANKET_ORDER_PATH="/web#action=1573&model=saleblanket.saleblanket&view_type=list&menu_id=1159"
DIRECT_SALES_PATH="/web#action=6033&model=sale.order&view_type=list&menu_id=3441"
